---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

// Options
const options: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};

// Props
const { post } = Astro.props;
const { Content } = await render(post);
const coverURL = new URL(post.data.cover.src, Astro.site).href;
const postURL = new URL(`/blog/${post.id}`, Astro.site).href;
---

<Layout
  title={post.data.title}
  canonical={`/blog/${post.id}`}
  description={post.data.description}
  image={coverURL}
>
  <script type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": post.data.title,
    "description": post.data.description,
    "datePublished": post.data.date.toISOString(),
    "author": {
      "@type": "Person",
      "name": "Wilson Muñoz Castro",
      "url": "https://wilsonmunoz.com"
    },
    "image": coverURL,
    "url": postURL
  })} />

  <div class="hero-nav | container">
    <nav class="nav mt-space-xl">
      <ul role="list" class="nav__list nav-post | d-flex">
        <li>
          <a
            class="nav__link | d-flex px-space-3xs py-space-xs border-animated"
            href="/"
          >
            <Icon name="carbon:home" /> Home
          </a>
        </li>
        <span>&rsaquo;</span>
        <li>
          <a
            class="nav__link | d-flex px-space-3xs py-space-xs border-animated"
            href="/blog"
          >
            <Icon name="ic:outline-article" /> Blog
          </a>
        </li>
        <span>&rsaquo;</span>
        <li>
          <a
            href={`/blog/${post.id}`}
            class="nav__link | d-flex px-space-3xs py-space-xs active"
            aria-current="page"
          >
            <Icon name="ph:article-medium-thin" />
            {`${post.data.title.substring(0, 12)} ...`}
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <article>
    <div class="container">
      <div class="post mt-space-3xl flow">
        <time datetime={post.data.date.toISOString()}>
          {post.data.date.toLocaleDateString("es-ES", options)}
        </time>
        <h1>{post.data.title}</h1>
        <Content />
      </div>
    </div>
  </article>
</Layout>
