---
import Layout from "../layouts/Layout.astro";
import CardProject from "../components/CardProject.astro";
import { projects } from "../constant";
import CardPost from "../components/CardPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import Hero from "../layouts/Hero.astro";
import Nav from "../components/Nav.astro";
const description = 'Wilson Mu침oz Castro, Front-end developer, designer, me gusta convertir dise침os a c칩digo con HTML5, CSS3, JavaScript | Astro, React, Tailwindcss'

const personal = '游둰勇뀪on +4 a침os de experiencia en dise침o y desarrollo web, tengo muy buen dominio de HTML5, CSS3 y JavaScript y en programas de Adobe como son Photoshop e Illustrator, as칤 como tecnolog칤as modernas como Astro, React y Tailwind.'
const {canonicalURL,project} = Astro.props
---

<Layout title="Front End Developer | Designer" canonical={canonicalURL} description={description}>
  <div class="container">
      <Hero title="Hola!游녦, Soy Wilson" personal={personal}/>
      <Nav/>
    <h2 class="mt-space-3xl"># 칔ltimos Proyectos</h2>
    <CardProject quantity={-2} project={projects}/>
    <h2 class="mb-space-xl mt-space-xl"># 칔ltimo Post</h2>
    <ul role="list" class="blog-post | flow">
      {
        allPosts.slice(-1).map((post) => {
          return (
            <CardPost post={post}/>
          );
        })
      }
    </ul>
  </div>
</Layout>
