---
import { Image, Picture } from 'astro:assets';
import Figcaption from "./Figcaption";
import { Icon } from 'astro-icon/components'



const {quantity,project} = Astro.props

---


        <li class="card">
          <figure>
            <a href={project.href} target="_blank" rel="noopener">
              <Picture src={project.img} widths={[ project.img.width / 1.5, project.img.width ]}  sizes={`(max-width: 39.9em) ${project.img.width / 2}px, ${project.img.width}px`}  alt={project.alt}/>
             
            </a>
            <h3 class="mt-space-m">{project.title}</h3>
            <Figcaption client:visible description={project.description} />
            </figure>
          <div class="fw-semibold d-flex size--1 mt-space-xs mb-space-l">
            <a class="card__link | d-flex" href={project.href} target="_blank" rel="noopener" aria-label={project.title}>
              {project.title} <Icon name="ion:open-outline" width="1em" heigh="1em"/>
            </a>
            <a class="card__link-github" href={project.gitHub} target="_blank" rel="noopener" aria-label={project.title}>
              <Icon name="prime:github" width={24} height={24}/>
            </a>
          </div>
        </li>
