---
import Head from '../components/Head.astro';
import { ViewTransitions } from 'astro:transitions';
import Footer from "../layouts/Footer.astro";
interface Props {
	title: string;
	description:string;
	canonical:string;
}

const { title,description,canonical } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL('/default-social.png', Astro.url);
import '../sass/style.scss'

---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta property="og:title" content="Wilson Muñoz Castro">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://wilsonmunoz.com">
		<meta property="og:description" content={description}>
		<meta property="og:image" content={socialImageURL}>
		<meta name="description" content={description}>
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="wilsonmunoz.com">
		<meta property="twitter:url" content="https://wilsonmunoz.com">
		<meta name="twitter:title" content="Wilson Muñoz Castro">
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content="/default-social.png">
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="color-scheme" content="dark">
		<meta name="color-scheme" content="light">
		<meta name="color-scheme" content="normal">
		<meta name="theme-color" content="#ffffff" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href={canonicalURL}/>
		<title>{`Wilson Muñoz Castro | ${title}` }</title>
		<ViewTransitions />
	</head>
	<body>
		<Head/>
		<main class="mt-space-3xl">
			<slot />
		</main>
		<Footer/>
	</body>
</html>

